<%# TODO add pattern validator for input %>

<% input_pattern = '[a-zA-Z]{3,}'%>
<div class="demo-options mdl-card mdl-color--blue-grey-500 mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
    <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
        <!-- Title -->
        <h3>
            <%= t('main_area.add_node_form.title') %>
        </h3>
        
        <div id='add_node' class="mdl-textfield mdl-js-textfield">
            
            <!-- Add node input -->
            <input pattern="<%= input_pattern %>" id='new_node_address' class="mdl-textfield__input" type="text" id="node_address">
                <!-- Large Tooltip -->
                <div class="mdl-tooltip mdl-tooltip--large" for="new_node_address">
                    <%= t('main_area.add_node_form.tooltip') %>
                </div>
            </input>

            <!-- Hint -->
            <label class="mdl-textfield__label" for="node_address">
                <%= t('main_area.add_node_form.text_hint' )%>
                </label>

            <!-- Error message on wrong input (not matching the pattern)-->
            <span class="mdl-textfield__error">
                <%= t('main_area.add_node_form.invalid_format', pattern: input_pattern) %>
            </span>
        </div>
    </div>

    <!-- Add node button -->
    <div class="mdl-card__actions mdl-card--border">
        <input type="button" 
            value="<%= t('main_area.add_node_form.add_button') %>" 
            onclick="add_node()" 
            class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--blue-grey-50"/>
    </div>
    
</div>