<% path = 'partials/main_area_partials' %>
<%#==================================================================%>

<main class="mdl-layout__content mdl-color--grey-100">
  <div class="mdl-grid demo-content">
    <%= partial "#{path}/top" %>
    <%#= partial "#{path}/center" %>

    <div class="demo-cards mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
      <%= partial "#{path}/add_node_form" %>
    </div>

    <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
      <%= partial "#{path}/node_list" %>
    </div>

    <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
      <%= partial "#{path}/message" %>
      <!-- <div class="demo-separator mdl-cell--1-col"></div> -->
      <%#= partial "#{path}/checkbox_form" %>
    </div>

    <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
      <%= partial "#{path}/message" %>
    </div>
  </div>
</main>